.donate {
  width: min(90vw,65rem);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.donate > * {
  height: 1700px;
  margin-left: 10%;
  margin-right: 10%;
}

@media (--viewport-small) {
  .donate {
    width: 100vw;
  }

  .donate > * {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}
