.donate {
  width: min(90vw,65rem);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.donate > * {
  margin-left: 10%;
  margin-right: 10%;
}

.donate > .iframe-container {
  height: 1700px;
}

.donate > .info-section__text {
  margin-top: 2rem;
}

@media (--viewport-small) {
  .donate {
    width: 100vw;
  }

  .donate > .iframe-container {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}
