.not-found {
  display: grid;
  place-items: center;
  margin: 2rem;
  padding: 1rem;
  background: var(--background);
}

.not-found h1 {
  font-size: var(--text-6xl);
}

.not-found p {
  font-size: var(--text-3xl);
  text-align: center;
}
