.zeffy-event-application {
  width: min(90vw,65rem);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.zeffy-event-application > * {
  margin-left: 10%;
  margin-right: 10%;
}

.zeffy-event-application > p,h2 {
  margin-top: 1rem;
}

.zeffy-event-application > .iframe-container {
  height: 800px;
}

.zeffy-event-application > .info-section__text {
  margin-top: 2rem;
}

.zeffy-event-application > .info-section__text > .date-info-line {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  margin-top: 1rem;
}

.zeffy-event-application > .info-section__text > .date-info-line > .calendar-box {
  background-color: rgb(238, 217, 198);
  border: 1px solid rgb(81, 132, 183);
  border-radius: 8px;
  flex-shrink: 0;
  overflow: hidden;
}

.zeffy-event-application > .info-section__text > .date-info-line > .calendar-box > * {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.zeffy-event-application > .info-section__text > .date-info-line > p, .zeffy-event-application > .info-section__text > .date-info-line > .calendar-box > p {
  margin-top: 0;
}

.zeffy-event-application > .info-section__text > .date-info-line > .calendar-box :first-child {
  background-color: rgb(217, 133, 100);
}

@media (--viewport-small) {
  .zeffy-event-application {
    width: 100vw;
  }

  .zeffy-event-application > .iframe-container {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}
