---
layout: base
permalink: /sponsors.html
title: 'Sponsors'
---

<div class="sponsors">
<h2>Huge thanks to all of our Phase 2 sponsors!</h2>

<div class="sponsors__platinum">
<h3>Platinum ($2,000+)</h3>
<ul>
<li>Kurt and Trista Hodges & friends</li>
<li>Allen Yaggie and Alisa Mitskog, and Jeff Yaggie Family</li>
<li>James Anderson-Anderson Accounting</li>
<li>Wilkin County Children’s Collaborative</li>
</ul>
</div>

<div class="sponsors__gold">
<h3>Gold ($1,000-1,999)</h3>
<ul>
<li>Richland-Wilkin Community Foundation</li>
<li>We Care Coalition of Breckenridge and Wilkin County</li>
<li>Breckenridge Active Living Committee</li>
</ul>
</div>

<div class="sponsors__silver">
<h3>Silver ($500-$999)</h3>
<ul>
<li>Breckenridge Lion’s Club</li>
<li>Red River Communications’ Common Cents</li>
<li>Cargill</li>
<li>Shavonne Wilke</li>
</ul>
</div>

<div class="sponsors__bronze">
<h3>Bronze ($100-$499)</h3>
<ul>
<li>H&R Block</li>
<li>Minn-Dak Farmer’s Cooperative</li>
<li>Marissa Moxness</li>
<li>Cynthia Schreiber-Beck</li>
<li>Zach Construction</li>
<li>Berger Body and Glass</li>
<li>Carpro Inc.</li>
<li>Schmitty’s Plumbing and Heating</li>
<li>Breckenridge Fire Department-Relief Assn.</li>
<li>Heartland Insurance</li>
<li>Dakota Cabinetry</li>
<li>State Farm Insurance</li>
<li>Com Del</li>
<li>Roger and Linda Johnson</li>
<li>Dorthy Rakow</li>
</ul>
</div>
</div>
